@model IEnumerable<GigHub.Core.Models.Gig>

@{
    ViewBag.Title = "My Upcoming Gigs";
}

<h2>My Upcoming Gigs</h2>

<ul class="gigs voffset5">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Venue
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Gigs", new {gig.Id})">
                        Edit
                    </a>
                    |
                    <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">
                        Cancel
                    </a>
                </div>
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-cancel-gig").click(function(e) {
                var link = $(e.target);

                bootbox.dialog({
                    title: "Confirm",
                    message: "Do you wish to cancel this Gig?",
                    buttons: {
                        no: {
                            label: 'No',
                            className: 'btn-default',
                            callback: function() { bootbox.hideAll(); }
                        },
                        yes: {
                            label: 'Yes',
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                        url: "/api/Gigs/" + link.attr("data-gig-id"),
                                        method: "DELETE"
                                    })
                                    .done(function() {
                                        link.parents("li").fadeOut(function() {
                                            // Remove item from the DOM upon cancellation
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function() {
                                        alert("There was a failure");
                                    });
                            }
                        }
                    }
                });
            });
        });
    </script>
}

